.video-players {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.play-button {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
  background: transparent;
}

.controls {
  text-align: center;
  margin-top: 30px;
}

#get-players {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#content {
  display: none;
}

html {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}